<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Fairy chimneys of Cappadocia">
  <title>Italian Riviera</title>
  <link rel="stylesheet" type="text/css" href="css/slidercss/swiper.css">
  <link rel="stylesheet" type="text/css" href="css/slidercss/slider.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/all.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

</head>
<style>
  .swiper-slide {
  width: 100%;
}
</style>

<body style="background-color: rgb(160, 208, 240);">
  <header>

    <ul class="menu1">
      <li><a style="margin: -4px;" href="index.html"><img width="70px" height="70px" src="images/logo3.jpg" alt=""></a>
      </li>
      <li><a href="gallery.html" class="">Gallery</a></li>
      <li><a href="tourist.html" class="">Tourist Attraction</a></li>
      <li><a href="contactus.html" class="">Contact Us</a></li>
    </ul>

  </header>

  <section>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/vernazza.jpg"> </div>
        <div class="swiper-slide"><img src="images/vernazza1.jpg"> </div>
        <div class="swiper-slide"><img src="images/vernazza2.jpg"> </div>
        <div class="swiper-slide"><img src="images/vernazza3.jpg"> </div>

      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

  </section>

    <section>
      <h2 class="italian">Italian Riviera</h2>
  
        <p class="font_2 italian">The Italian Riviera or Ligurian Riviera is the narrow coastal strip in Italy which lies between
        the Ligurian Sea and the mountain chain formed by the Maritime Alps and the Apennines. Longitudinally it extends
        from the border with France and the French Riviera (or Côte d'Azur) near Ventimiglia (a former customs post)
        eastwards to Capo Corvo (also known as Punta Bianca) which marks the eastern end of the Gulf of La Spezia and is
        close to the regional border between Liguria and Tuscany. The Italian Riviera thus includes nearly all of the
        coastline of Liguria. Historically the "Riviera" extended further to the west, through what is now French
        territory as far as Marseille.
        <p class="italian">The Italian Riviera crosses all four Ligurian provinces and their capitals Genoa, Savona, Imperia and La Spezia,
          with a total length of about 350 km (218 miles). It is customarily divided into a western section, the Ponente
          Riviera, and an eastern section, the Levante Riviera, the point of division being the apex of the Ligurian arc at
          Voltri. It has about 1.6 million inhabitants, and most of the population is concentrated within the coastal area.
          Because of the shelter from winter winds afforded by the mountains, it is particularly favoured in growing early
          vegetables, flowers (especially in the western section), olives, and wine grapes. Its mild climate draws an active
          tourist trade in the numerous coastal resorts, which include Alassio, Bonassola, Bordighera, Camogli, Cinque
          Terre, Lerici, Levanto, Noli, Portofino, Porto Venere, Santa Margherita Ligure, Sanremo, San Fruttuoso, and Sestri
          Levante. It is also known for its historical association with international celebrity and artistic visitors;
          writers and poets like Percy Bysshe Shelley, Lord Byron, Ezra Pound, and Ernest Hemingway were inspired by the
          beauty and spirit of the region.
        </p>
      </section>

  <iframe class="italian" width="1350" height="650" src="https://www.youtube.com/embed/rBaHnRCFmnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  
<p class="italian">
  As a tourist centre, the Italian Riviera benefits from over 300 days of sunshine per year, and is known for its
  beaches, colourfully painted towns, natural environment, food, and luxury villas and hotels, as well as for its
  popular resort facilities, major yachting and cruising areas with several marinas, festivals, golf courses,
  sailing, rock climbing and scenic views of centuries old farmhouses and cottages.

  Industries are concentrated in and around Genoa, Savona, and along the shores of the Gulf of La Spezia. Genoa and
  La Spezia are Italy’s leading shipyards; La Spezia is Italy’s major naval base, and Savona is a major centre of
  the Italian iron industry. Chemical, textile, and food industries are also important.

  A number of streets and palaces in the center of Genoa and the Cinque Terre National Park (which includes Cinque
  Terre, Portovenere, and the islands Palmaria, Tino and Tinetto) are two of Italy's 55 World Heritage Sites.</p>
    <a class="nazmi" href="images/vernazza4.jpg" target="_blank">
      <img class="img-responsive" src="images/vernazza4.jpg">

    </a>
    <a class="nazmi " href="images/positano1.jpg" target="_blank">
      <img src="images/positano1.jpg">

    </a>
    <a class="nazmi" href="images/Positanounique2.jpg" target="_blank">
      <img class="img-responsive" src="images/Positanounique2.jpg">

    </a>
    <a class="nazmi" href="images/pjimage.jpg" target="_blank">
      <img class="img-responsive" src="images/pjimage.jpg">

    </a>

  </section>

  <footer>

    <div class="footer mt-50">

      <ul>
        <li><a href="index.html"><img src="images/logo3.jpg" alt=""></a></li>


        <li>Social Media
          <ul>
            <li><i class="fab fa-facebook-square fa-2x"></i></li>
            <li><i class="fab fa-twitter-square fa-2x"></i></li>
            <li><i class="fab fa-instagram fa-2x"></i></li>
            <li><i class="fab fa-youtube fa-2x"></i></li>
          </ul>
        </li>

        <li>Contact Us<ul>
            <p class="footer_font">Code Nation

            </p>
          </ul>
        </li>

    </div>

    </div>


    </div>

  </footer>

  <!--<h1>index page</h1>
<p id="demo"></p>-->

  <!--CDN start-->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/sliderjs/swiper.js"></script>
  <script src="js/lightbox.js"></script>
  <script src="js/all.js"></script>

  <!--CDN end-->

  <script src="js/script.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      autoplay: {
        delay: 5000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

  </script>
</body>

</html>
